@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
}

h2{
    text-align: center;
}

/* ////////////////// */

.monitor1, .monitor2{
    animation-name: animacion_logo_1;
    animation-timing-function: ease;
    animation-duration: 5s;
    }

.monitor2{
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

line{
    animation-name: ver_lineas_monitor;
    animation-fill-mode: backwards;
    animation-duration: 5s;
    animation-delay: 1s;
}

@keyframes animacion_logo_1{
    from {
        transform: translate(0,-10px);
        opacity:0;
    }
    to {
        transform: translate(0,0);
        opacity:1;
    }
}

@keyframes ver_lineas_monitor {
    from{
        stroke: transparent;
    }
    to{
        stroke: green;
    }
    
}

/* ////////////////// */


header{
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.encabezado_index{
    height: 100vh;
    background-image: url("../imagenes/fondo.jpg");
}

.encabezado_historia{
    height: 70vh;
    background-image: url("../imagenes/historia-programacion.jpg");
}

.encabezado_juego{
    height: 70vh;
    background-image: url("../imagenes/img2.jpg");
}

h1{
    font-weight: 400;
    font-size: 4.2em; /* 4.2 veces el tama単o de la letra del elemento padre */
    color: #eeeeee;
    text-shadow: 2px 2px #808080, 6px 6px black;
    margin: auto;
    text-align: center;
}

h2{
    font-weight: 400;
    font-size: 2.8em; /* 2 veces el tama単o de la letra del elemento padre */
    color: #2f3645;
    text-shadow: 1px 1px white, 2px 2px grey;
}

#h2_index, #h2_juego{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* para navegacion */

nav, .menu_navegacion{
    display: flex;
}

nav{
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    align-items: center;
    width: 100%;
    transition: background-color 2s;
}

/* .cambio_ancla{ 
    color: #2f3645;
    text-shadow: 1px 1px white, 2px 3px grey;
} */ /* COMENTARIO: Intente utilizar esta clase para utilizarlo en JS pero no logre hacerlo funcionar */

.menu_navegacion{
    justify-content: space-around;
    width: 400px;
}

.ancla_menu{
    text-decoration: none;
    font-size: 1.8em;
    color: white;
    text-shadow: 1px 1px gray, 2px 3px black;
}

/* Formato para index */

.contenido_html{
    display: flex;
    justify-content: space-evenly;
}

.tarjetas_contenido{
    flex-direction: column;
    width: 450px;
    height: 500px;
    visibility: hidden;

}

.tarjetas_contenido, .pie_pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
animation: name duration timing-function delay iteration-count direction fill-mode;
*/


.contenido_historia_{
    animation-name: hacia_derecha;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    visibility: visible;
}

.contenido_juego_{
    animation-name: hacia_izquierda;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    visibility: visible;
}

/* ///////////// */

.imagen_tarjeta{
    width: 100%;
}

.parrafo_contenido{
    width: 90%;
    text-align: center;
}

.boton_contenido{
    background-color: #2f3645;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

/* pie de pagina */

.pie_pagina{
    background-color: #2f3645;
    padding: 90px;
    margin-top: 100px;
}

#imagen_pie_pagina{
    height: 80px;
}

#h3_footer, footer>p{
    font-size: 14px;
    color: white;
    text-align: center;
}

#h3_footer{
    font-weight: bold;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Formato para historia*/

.contenedor_historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tarjeta1_historia, #tarjeta2_historia, #tarjeta3_historia{
    visibility: hidden;
}

.tarjeta_historia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
    perspective: 800px;
    
}

.imagen_tarjeta_historia{
    width: 50%;
}

.descripcion_historia{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* para video */

#articulo_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.contenedor_video{
    background-color: #2f3645;
    width: 70%;
    padding: 5px;
}

#barra_reproduccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

#tiempo_reproduccion_html{
    color: white;
}

.boton_video{
    padding: 10px 15px;
    width: 80px;
}

.imagen_boton{ /* utilizada para dimensionar todas las imagenes del mismo tama単o. Las a単adidas son bastante mas grandes */
    height: 15px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Animaciones */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* para index */

@keyframes hacia_derecha{
    
    from{
        transform: translate(-130%);
        opacity: 0;
    }

    to{
       transform: translate(0);
       opacity: 1;
    }

}

@keyframes hacia_izquierda{
    
    from{
        transform: translate(130%);
        opacity: 0;
    }

    to{
       transform: translate(0);
       opacity: 1;
    }

}

/* para historia */

@keyframes hacia_derecha_3D{
    
    from{
        transform: translateX(-500px) translateZ(500px);
        opacity: 0;
    }

    to{
       transform: translateX(0) translateZ(0);
       opacity: 1;
    }

}

@keyframes hacia_izquierda_3D{
    
    from{
        transform: translateX(500px) translateZ(500px);
        opacity: 0;
    }

    to{
       transform: translateX(0) translateZ(0);
       opacity: 1;
    }

}


@keyframes rotar_izquierda_3D{
    
    from{
        transform: translateX(500px) translateZ(-500px) rotateY(-45deg);
        opacity: 0;
    }

    to{
       transform: translateX(0) translateZ(0);
       opacity: 1;
    }

}

@keyframes rotar_derecha_3D{
    
    from{
        transform: translateX(-500px) translateZ(-500px) rotateY(45deg);
        opacity: 0;
    }

    to{
       transform: translateX(0) translateZ(0);
       opacity: 1;
    }

}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* estilos para juego.html */

.juego_posicion_arriba, .juego_posicion_abajo{
    display: flex;
    justify-content: space-around;
}

#contenedor_cajas{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.expandir_caja{
    animation-name: expande_caja;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes expande_caja {
    from{
        gap: 10px;
    }
    to{
        gap: 0px;
        transform: scale(1.5);
    }
}

/* ///////////////////////////////////////// */
.expandir_comprimir_caja{
    animation-name: expande_comprime_caja;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes expande_comprime_caja {
    0%{
        transform: scale(1);
        gap: 10px;
    }
    40%{
        transform: scale(1.5);
        gap: 0px;
    }
    60%{
        transform: scale(1);
        gap: 0px;
    }
}
/* ///////////////////////////////////////// */

.comprimir_caja{
    animation-name: comprime_caja;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes comprime_caja {
    from{
        transform: scale(1.5);
        gap: 0;
    }
    to{
        transform: scale(1);
        background-color: black;
        gap: 0;
    }
}

.caja_rompecabezas, .imagen_rompecabezas{
    width: 200px;
    height: 350px;
}

.caja_rompecabezas{
    background-color: grey;
    border: 2px solid;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caja_rompecabezas>p{
    color: #FFFFFF
}

.caja_rompecabezas:hover{
    background-color: #1d1d1d;
}

#boton_reiniciar{
    display: flex;
    margin: 100px auto;
    padding: 10px 100px;
    background-color: #2f3645;
    color: #FFFFFF;
}

.animarh2_juego{
    animation-name: animacionh2_juego;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

main{
    perspective: 800px; /* para que funcione la animacion 3D del titulo hs */
}

@keyframes animacionh2_juego {

    50%{
        transform: translateY(300px) translateZ(300px);
    }

    100%{
        transform: translateY(300px) translateZ(0px);
    }

}

#imagen2_juego{
    transform: rotateZ(8deg);
}

#imagen1_juego{
    transform: rotateZ(350deg);
}

#imagen3_juego{
    transform: rotateZ(95deg);
}
